main {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
   margin-left: 50px;
    margin-right: 50px;
    padding-top: auto;
}

header {
    font-family: 'Bowlby One SC', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    height: 50px;
    width: 100%;
    background-color: #C60C30;
    font-size: 50px;
    text-align: center;
}

body {
    background-color: #002244;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: auto;
    font-family: 'Baskervville', serif;
    font-size: 30px;
    color: #B0B7BC;
}

h3 {
    font-family: 'Baskervville', serif;
    background-color: #002244;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: auto;
    font-size: 30px;
}

h1 {
    font-family: 'Calistoga', cursive;
    background-color: #002244;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 30px;
}

h2 {
    font-family: 'Viga', sans-serif;
    background-color: #002244;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 30px;

.underline {
    text-decoration: underline;
}

li {
    font-family: 'Antic', sans-serif;
    background-color: #002244;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 30px;
}



div {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 15px;
}

.btn-primary {
    color: #B0B7BC;
    background-color: #C60C30;
    border-color: #C60C30;
}
